@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive m-t-40">
    <table id="Department" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="deptbody" />
    </table>
</div>

